{% extends "popcornbucket/base.html" %}
{% load static %}

{% block content %}

<div class="container-basic">

    <h1>Film List</h1>
    {% if query %}
        <p>Showing results for "<strong>{{ query }}</strong>"</p>
    {% endif %}

    <!-- SORT -->
    <div class="dropdown">
        <a class="btn btn-outline-danger dropdown-toggle float-end" href="#" role="button" id="dropdownSort" data-bs-toggle="dropdown">
            Sort Films
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownSort">
            <a class="dropdown-item" href="{% url 'film_list' %}?sort=newest">Newest</a>
            <a class="dropdown-item" href="{% url 'film_list' %}?sort=oldest">Oldest</a>
            <a class="dropdown-item" href="{% url 'film_list' %}?sort=most_popular">Most Popular</a>
            <hr class="dropdown-divider">
            <a class="dropdown-item" href="{% url 'film_list' %}">Clear Sorting</a>
        </div>
    </div>

    <!-- FILTER -->
    <div class="dropdown">
        <a class="btn btn-outline-danger dropdown-toggle float-end" href="#" role="button" id="dropdownFilter" data-bs-toggle="dropdown">
            Filter By Genre
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownFilter">
            <a class="dropdown-item" href="{% url 'film_list' %}">All Genres</a>
            {% for genre in genres %}
                <a class="dropdown-item" href="{% url 'film_list' %}?genre={{ genre.id }}">{{ genre.name }}</a>
            {% endfor %}
        </div>
    </div>

    {% if films %}
        {% for film in films %}
        <div class="container">
            <div class="row justify-content-start">
                <div class="col-4">
                    {% if film.poster %}
                        <img class="fl-poster-img" src="{{ film.poster.url }}" alt="{{ film.title }}">
                    {% else %}
                        <img class="fl-poster-img" src="{% static 'images/NoPosterAvailable.jpg' %}" alt="{{ film.title }}">
                    {% endif %}
                </div>

                <div class="col-4">
                    <h3>
                        <a href="{% url 'film_detail' film.id %}" class="film-link">
                            {{ film.title }}
                        </a>
                    </h3>

                    <!-- IMDb rating -->
                    <h5>
                        <i class="bi bi-star-fill rating-star"></i>
                        IMDb rating:
                        {% if film.imdb_rating %}
                            {{ film.imdb_rating|floatformat:1 }}/10
                        {% else %}
                            no rating
                        {% endif %}
                    </h5>

                    <!-- PopcornBucket rating -->
                    <h5>
                        <i class="bi bi-star-fill rating-star"></i>
                        Popcorn Bucket rating:
                        {% if film.avg_rating %}
                            {{ film.avg_rating|floatformat:1 }}/5
                        {% else %}
                            no ratings
                        {% endif %}
                    </h5>

                    <br>

                    <a href="{% url 'film_list' %}?genre={{ film.genre.id }}" class="btn btn-outline-dark">
                        {{ film.genre.name }}
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p>No films found.</p>
    {% endif %}
</div>

{% endblock %}