<h1>{{ film.title }}</h1>

<p><strong>Genre:</strong> {{ film.genre.name }}</p>
<p><strong>Release year:</strong> {{ film.release_year }}</p>
<p><strong>Description:</strong> {{ film.description }}</p>

{% if film.poster %}
    <img src="{{ film.poster.url }}" alt="{{ film.title }}" width="200">
{% else %}
    <p>No poster found for this film.</p>
{% endif %}

<h2>User Reviews</h2>
<a href="{% url 'write_review' film.film_id%}">Write a Review</a>
{% if reviews %}
    <ul>
        {% for review in reviews %}
        <p>
            <strong>{{ review.user }}</strong><br>
            Rating: {{ review.rating }}<br>
            {{ review.review_text }}<br>
        </p>
    </ul>
{% else %}
    <strong>There are no reviews yet.</strong>
{% end if %}

<a href="{% url 'film_list' %}">Back to film list</a>