{% extends "popcornbucket/base.html" %}
{% load static %}

{% block content %}

<h1>Film List</h1>
{% if query %}
    <p>Showing results for "<strong>{{ query }}</strong>"</p>
{% endif %}

<!--dropdown sorting options-->
        <div class="dropdown show">
            <a class="btn btn-outline-danger dropdown-toggle float-end" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort Films
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="{% url 'film_list' %}?sort=newest">Newest</a>
                <a class="dropdown-item" href="{% url 'film_list' %}?sort=oldest">Oldest</a>
                <a class="dropdown-item" href="{% url 'film_list' %}?sort=most_popular">Most Popular</a>
                <hr class="dropdown-divider">
                <a class ="dropdown-item" href="{% url 'film_list' %}">Clear Sorting</a>
            </div>
        </div>

 <!--dropdown filter options-->
        <div class="dropdown show">
            <a class="btn btn-outline-danger dropdown-toggle float-end" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filter By Genre
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="{% url 'film_list' %}">All Genres</a></li>
                {% for genre in genres %}
                    <a class="dropdown-item" href="{% url 'film_list' %}?genre={{ genre.id }}">{{ genre.name }}</a>
                {% endfor %}
        </div>

{% if films %}
    <ul>
        {% for film in films %}
            
            <div class="row justify-content-start">
            <div class="col-6 col-md-4">
                {% if film.poster %}
                    <img class="poster-img" src="{{ film.poster.url }}" alt="{{ film.title }}">
                    {% else %}
                        <img class="poster-img" src="{% static 'images/NoPosterAvailable.jpg' %}" alt="{{ film.title }}">
                    {% endif %}
            </div>
            <br>
            <div class="col-12 col-sm-6 col-md-8">
                <h3><a class="link-underline link-underline-opacity-0" href="{% url 'film_detail' film.id %}"  style="color:black">{{ film.title }}</a></h3>
                    <h5><i class="bi bi-star-fill" style="color:gold;"></i>
                    tmdb rating:  </h5>
                    <h5><i class="bi bi-star-fill" style="color:gold;"></i>
                    popcornbucket rating: 
                    {% if film.avg_rating %}
                        {{ film.avg_rating|floatformat:0 }}
                    {% else %}
                        no ratings
                    {% endif %}
                    <br>
                    <br><a href="{% url 'film_list' %}?genre={{ film.genre.id }}" ><button type="button" button class="btn btn-outline-dark">{{ film.genre.name }}</button></a>
            </div>
            
                </li>
        {% endfor %}
    </ul>
{% else %}
        <p>No films found.</p>
{% endif %}

<style>
    .poster-img {
            border-radius: 0;
            width: 130px;
            margin-bottom: 25px;
        }
</style>

{% endblock %}
