{% extends "popcornbucket/base.html" %}
{% load static %}

{% block content %}
<div class="container-basic">
    <h1>Watchlist</h1>

    {% if films %}
        {% for film in films %}
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        {% if film.poster %}
                            <img class="wl-poster-img" src="{{ film.poster.url }}" alt="{{ film.title }}">
                        {% else %}
                            <img class="wl-poster-img" src="{% static 'images/NoPosterAvailable.jpg' %}" alt="{{ film.title }}">
                        {% endif %}
                    </div>

                    <div class="col-4">
                        <h3>
                            <a href="{% url 'film_detail' film.id %}" class="film-link">
                                {{ film.title }}
                            </a>
                            <br>
                            <small class="text-muted">{{ film.release_year }}</small>
                        </h3>

                        <br>

                        {% if watchlist_user == request.user %}
                            <a href="{% url 'remove_from_watchlist' film.pk %}" class="btn btn-warning">
                                Remove from watchlist
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No films found.</p>
    {% endif %}
</div>
{% endblock %}