{% extends "popcornbucket/base.html" %}
{% load static %}

{% block content %}
<h1>Write a Review for {{ film.title }} ({{ film.release_year }})</h1>
<br><br><br>

<div class="container">
    <div class="row justify-content-start">
        <div class="col-4">
            {% if film.poster %}
                <img src="{{ film.poster.url }}" alt="{{ film.title }}" class="review-film-poster">
            {% else %}
                <img src="{% static 'images/NoPosterAvailable.jpg' %}" alt="{{ film.title }}" class="review-film-poster">
            {% endif %}
        </div>

        <div class="col-4">
            {% if request.user.is_authenticated %}
                <form id="write_review_form" method="post" action="{% url 'write_review' film.id %}">
                    {% csrf_token %}

                    <div class="rating-card p-4">
                        <h5 class="mb-4">Rate {{ film.title }} out of 5</h5>

                        <div class="star-rating animated-stars">
                            <input type="radio" id="star5" name="rating" value="5">
                            <label for="star5" class="bi bi-star-fill"></label>

                            <input type="radio" id="star4" name="rating" value="4">
                            <label for="star4" class="bi bi-star-fill"></label>

                            <input type="radio" id="star3" name="rating" value="3">
                            <label for="star3" class="bi bi-star-fill"></label>

                            <input type="radio" id="star2" name="rating" value="2">
                            <label for="star2" class="bi bi-star-fill"></label>

                            <input type="radio" id="star1" name="rating" value="1">
                            <label for="star1" class="bi bi-star-fill"></label>
                        </div>

                        <p class="text-muted mt-2">Click to rate</p>
                    </div>

                    <div class="form-group mt-3">
                        <label for="review_text">Leave your Review:</label>
                        <textarea class="form-control" rows="5" id="review_text" name="review_text"></textarea>
                    </div>

                    <button type="submit" class="btn btn-danger mt-3">Submit Review</button>
                </form>
            {% else %}
                <div>
                    <p>You must <a href="{% url 'login' %}" class="link-danger">Login</a> to leave a review.</p>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}